<div class="container-fluid">
<h2>Interpolation</h2>
<p>Titolo: {{title}}</p>
<div>1 + 2 = {{ 1 + 2 }}</div>
<img src="{{ url }}" height="200"/>

<h2>*ngIf</h2>
<button (click)="loaded=!loaded">click</button>
<div *ngIf="loaded else default">primo</div>
<ng-template [ngIf]="loaded">secondo</ng-template>
<ng-template #default>Niente da mostrare!</ng-template>

<h2>*ngFor</h2>
<ul>
  <li
    *ngFor="let ingredient of ingredients;
      let i = index;
      let even = even;
      let odd = odd; 
      trackBy:identify"
    [ngClass]="{ even: even, odd: odd }">
    <span class="element">{{ i }}. {{ ingredient | titlecase }} </span>
    <button class="delete" (click)="delete(ingredient)">Rimuovi</button>
  </li>
</ul>

<h2>ngSwitch</h2>
<div  *ngFor="let veicolo of veicoli" [ngSwitch]="veicolo.tipo">
  <div *ngSwitchCase="'car'">AUTO</div>
  <div *ngSwitchCase="'motorcycle'">MOTO</div>
  <div *ngSwitchDefault>A PIEDI!</div>
</div>


<h2>http</h2>
<button (click)="getUsers()">load users</button>
<!--
  <pre>{{users | json }}</pre>
-->
<h2>class</h2>
<li *ngFor="let user of users; let i = index"
 [class]="i%2 !== 0 ? 'odd' : 'even'"
>{{user.id}} {{user.name}}</li>

<h2>class multiline</h2>
<li *ngFor="let user of users; let i = index"
 [class.odd]="i%2 !== 0"
 [class.even]="i%2 === 0"
>{{user.id}} {{user.name}}</li>

<h2>ngClass</h2>
<li *ngFor="let user of users; let i = index"
 [ngClass]="{'odd': i%2 !== 0, 'even': i%2 ===0}"
>{{user.id}} {{user.name}}</li>


<h2>inline style</h2>
<li *ngFor="let user of users; let i = index" 
  [style.backgroundColor]="i%2 !== 0 ? 'gray':'lightGray'">
  <span [style.fontSize.px]=" i<5 ? (10-i)*3: 14 ">{{user.id}} {{user.name}}</span>
</li>

<h2>ngStyle</h2>
<li *ngFor="let user of users; let i = index" 
  [style.backgroundColor]="i%2 !== 0 ? 'gray':'lightGray'">
  <span [ngStyle]="{
     'fontSize.px': i<5 ? (10-i)*3: 14,
     'color': i%2 ===0 ? 'blue': null
    }">{{user.id}} {{user.name}}</span>
</li>


<button class="btn btn-primary"><i class="fa fa-info"></i> click me</button>

</div>




<h2>Template Reference Variable</h2>
<input ref-label type="text"><button (click)="view()">VIEW</button> {{label.value}}

<hr/>

<app-template-driven-forms></app-template-driven-forms>

<hr/>



<app-hello name="Luca" (open)="opened($event)">
  <div>Questo è un testo di prova</div>
</app-hello>
<app-hello name="Mario"></app-hello>
<app-hello></app-hello>




<hr/>


<app-tabbar [items]="tabs" [active]="tabActive" (tabClick)="doSomething($event)">
  <div class="card-body">{{tabActive.desc}}</div>
</app-tabbar>